<header>

	<nav class="round">
		<ul>

			<% if signed_in? %>
				<li><%= link_to "Profile", current_user %></li>

				<li><%= link_to "Statistics", :controller => "statictics", :action => "index" %></li>

				<li><%= link_to "Settings", edit_user_path(current_user) %></li>
			<% end %>

			<% if signed_in? %>
				<li><%= link_to "Sign out", signout_path %></li>


			<% end %>
		</ul>

	</nav>
</header>